=clearfix
  display: inline-block
  &:after
    content: "."
    display: block
    height: 0
    clear: both
    visibility: hidden
  * html &
    height: 1px

body
  :text-align left
  :padding 0px
  :font-family "Segoe UI","Lucida Grande",Arial,sans-serif
  
label
  :display block
  
input.textfield, textarea
  :border 1px solid #ccc
  
input.textfield
  :padding 4px
  
ul.menu
  :padding 0px
  :margin 0px
  li
    :display inline
    a
      :padding 5px
      
pre
  :overflow auto

// main layout ================================================================
#notices
  :display none

h1#title
  :font-weight bold
  :background-color #ccc
  :padding 10px
  :margin 0px
  .tagline
    :font-size 0.4em
    :font-style italic
    :font-weight normal
    :color #666
  
ul#main_menu
  :background-color #ccc

#body
  :width 960px
  :margin 0px auto

#content
  :float left
  :padding 10px
  // 960px - 250px sidebar - 20px padding on sidebar - 20px padding on content = 670px
  :width 670px
  h1
    :font-size 20px
  h2
    :font-size 17px
  h3
    :font-size 15px
  h1, h2, h3, h4, h5, h6
    :font-weight bold
    :padding 0px
    :margin 10px 0px

#sidebar
  :float left
  :width 250px
  :padding 10px
  
h1.with_menu
  :float left
ul.menu
  :float right

// page menu ==================================================================
#page_menu
  ul
    :list-style-type none
  h3
    :float left
  #page_search
    :float right
  .menu li
    :display block
  .textfield
    :width 170px
  li.section
    :background-color #99f
    :border-top 1px solid #33c
    a.section
      :display block
      :width 230px
      :padding 10px
      :background-color #99f
      &.hover
        :background-color #ccf
    &.empty
      :margin-bottom 10px
    form.new_section
      :padding 10px
  ul.pages
    :clear both
    :margin 0px
    li.page
      :width 230px
      :padding 4px 10px
      :background-color #eef
      :border-bottom 1px solid #666
      &.current
        :background-color #ccf
  .handle
    :cursor pointer

// page versions ==============================================================
table.versions
  .current
    :background-color #afa
    
// page edit ==================================================================
body.pages.edit
  form.edit_page
    input#page_title
      :font-weight normal
      :font-size 2.0em
      :width 662px
    textarea
      :margin-top 10px
      :height 500px
      :width 670px
  #page_submit
    :display block
    :margin-top 10px

// page show ==================================================================
body.pages.show
  h2
    :padding 2px 0px 0px 14px
  p.code_stamp
    :padding 4px 10px 0px 0px
    :margin 20px 0px 0px 0px
    :text-align right
    :background-color #0C1021
    :color #eef
    .syntax
      :margin-right 10px
    a
      :color #66f
  pre.blackboard
    :margin 0px 0px 20px 0px
    
#page_header
  :background-color #eee
  :height 20px
  :padding 10px
  :margin-bottom 10px
  h1
    :float left
    :margin 0px
  ul.menu
    :float right
  
// parser reference ===========================================================
#parser_reference
  dt
    :font-weight normal
    :background-color #eee
  dd.rule_hack
    :margin-top 20px
