body {
  text-align: left;
  padding: 0px; }

label {
  display: block; }

input.textfield, textarea {
  border: 1px solid #ccc; }

input.textfield {
  padding: 4px; }

ul.menu {
  padding: 0px;
  margin: 0px; }
  ul.menu li {
    display: inline; }
    ul.menu li a {
      padding: 5px; }

pre {
  overflow: auto; }

#notices {
  display: none; }

h1#title {
  font-weight: bold;
  background-color: #ccc;
  padding: 10px;
  margin: 0px; }
  h1#title .tagline {
    font-size: 0.4em;
    font-style: italic;
    font-weight: normal;
    color: #666; }

ul#main_menu {
  background-color: #ccc; }

#body {
  width: 960px;
  margin: 0px auto; }

#content {
  float: left;
  padding: 10px;
  width: 670px; }

#sidebar {
  float: left;
  width: 250px;
  padding: 10px; }

#page_menu ul {
  list-style-type: none; }
#page_menu h3 {
  float: left; }
#page_menu #page_search {
  float: right; }
#page_menu .menu li {
  display: block; }
#page_menu .textfield {
  width: 170px; }
#page_menu li.section {
  background-color: #99f;
  border-top: 1px solid #33c; }
  #page_menu li.section a.section {
    display: block;
    width: 230px;
    padding: 10px;
    background-color: #99f; }
    #page_menu li.section a.section.hover {
      background-color: #ccf; }
  #page_menu li.section.empty {
    margin-bottom: 10px; }
  #page_menu li.section form.new_section {
    padding: 10px; }
#page_menu ul.pages {
  clear: both;
  margin: 0px; }
  #page_menu ul.pages li.page {
    width: 230px;
    padding: 4px 10px;
    background-color: #eef;
    border-bottom: 1px solid #666; }
    #page_menu ul.pages li.page.current {
      background-color: #ccf; }
#page_menu .handle {
  cursor: pointer; }

table.versions .current {
  background-color: #afa; }

body.pages.edit form.edit_page input#page_title {
  font-weight: normal;
  font-size: 2.0em;
  width: 662px; }
body.pages.edit form.edit_page textarea {
  margin-top: 10px;
  height: 500px;
  width: 670px; }
body.pages.edit #page_submit {
  display: block;
  margin-top: 10px; }

body.pages.show h2 {
  padding: 2px 0px 0px 14px; }

p.code_stamp {
  padding: 4px 10px 0px 0px;
  margin: 20px 0px 0px 0px;
  text-align: right;
  background-color: #0C1021;
  color: #eef; }
  p.code_stamp .syntax {
    margin-right: 10px; }
  p.code_stamp a {
    color: #66f; }

pre.blackboard {
  margin: 0px 0px 20px 0px; }

#parser_reference dt {
  font-weight: normal;
  background-color: #eee; }
#parser_reference dd.rule_hack {
  margin-top: 20px; }
