- inside_layout 'base' do
  = yield
  - content_for :sidebar do
    %ul#sidebar_menu
      %li= link_to 'Reference', parser_path(@page.parser), :id => 'reference_tab'
      %li= link_to 'Pages', pages_path, :id => 'pages_tab'
      %li= link_to 'Assets', assets_path, :id => 'assets_tab'
