- inside_layout 'base' do
  = yield
  - content_for :sidebar do
    #header
      %h3= @page.parser.humanize
    #parser_reference
      .reference
        = render :partial => "parsers/#{@page.parser}"
